<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YouTube Comment Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <img src="{{ url_for('static', filename='Youtube1.jpeg') }}" href="home.html">
        </div>
    </div>
    <div class="navbar-right">
        <a class="active" href="http://127.0.0.1:5000/#">Home</a>
      
    </div>
  </div>

        <div class="container">
          <h1>YouTube Comment Sentiment Analysis</h1>
          <form method="POST" action="{{ url_for('result') }}">
            <label for="url">YouTube URL:</label>
            <input type="text" id="url" name="url" placeholder="Enter a YouTube video URL" required>
            <button type="submit">Analyze</button>
          </form>
        </div>
        
    <div class="center-image">
      <img src="{{ url_for('static', filename='emoji.jpg') }}" >
  </div>
</body>
</html>